<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer">

  </div>
  <div *ngIf=LoggedIn()>
  <button mat-raised-button routerLink="/all-users">All Employee</button>

  <button mat-raised-button routerLink="/register-employee">Add Employee</button>
  <button mat-raised-button routerLink="/login">Login</button>
  <button mat-raised-button (click)="logout()">Logout</button>

</div>



</div>


`<div class="container">
  <table class="responsive-table highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Designation</th>
        <th>Role</th>

      </tr>
    </thead>
    <tr *ngFor="let emp of employee">
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.salary}}</td>
      <td>{{emp.designation}}</td>
      <td>{{emp.role}}</td>

      

      <td>
          <a class="action-btn" (click)="onEdit(emp)">
            <i class="material-icons">edit</i>
          </a>
  
        </td>
    </tr>
  </table>
</div>

