


  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span>
    <div *ngIf=LoggedIn()>
    <button mat-raised-button routerLink="/all-users">All Employee</button>
  
    <button mat-raised-button routerLink="/register-employee">Add Employee</button>
    <button mat-raised-button routerLink="/login">Login</button>
    <button mat-raised-button (click)="logout()">Logout</button>
  
  </div>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
